{% extends 'base.html' %} {% load static %} 
{% block content %}
  <div class="card border-0">
    <div class="card-heading d-flex justify-content-center align-items-center mt-3" >
      <h1 class="text-success h2">TO-DO</h1>
      <i class="fas fa-check-square"></i>
    </div>
    <div class="card-body">
      <form class="text-center" method="GET" action="{% url 'home' %}">
        <input class="p-1 px-5 border-1 border-primary" type="text" name="search" placeholder="Search To-Do Lists/Items">
        <button class="p-1 border-1 border-primary text-success" type="submit">Search</button>
    </form>

    <ul class="list-unstyled">
      
      
      {% if todo_items %}
      <p class="form-control-lg mt-2">Available To-do items:</p>
        {% for item in todo_items %}
        <li><p class="mx-3 fs-4 fw-bold">{{ item.todo_list }} :</p></li>        
        <ul class="list-unstyled">
        <li><p class="mx-5">{{ item.title }}</p></li>        
        </ul>
        {% endfor %}
        
      {% else %}
        <li><p class="text-danger text-center my-2">No such items/lists</p></li>
      {% endif %}
        
    </ul>
    </div>
  </div>
  
</div>
{% endblock content %}
