{% extends 'base.html' %} {% load static %} 
{% block content %}
  <div class="card border-0">
    <div class="card-heading d-flex justify-content-center align-items-center mt-3" >
      <h1 class="text-success h2">TO-DO</h1>
      <i class="fas fa-check-square"></i>
    </div>
    <div class="card-body">
        <form class="text-center" method="GET" action="{% url 'home' %}">
          <input class="todo-search p-1 px-4 border-1 border-primary" type="text" name="search" placeholder="Search To-Do Lists/Items">
          <button class="p-1 border-1 border-primary text-success search-button" type="submit">Search</button>
        </form>
        <hr>

    <div class="todo-list">
      <table class="todo-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Due Date</th>
          </tr>
        </thead>
        
        <tbody>
          {% for item in todo_items %}
          <tr>
            <td>{{ item.title }}</td>
            <td>{{ item.due_date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
  </div>
  
</div>
{% endblock content %}
