{% extends 'base.html' %} {% load static %} 
{% block content %}
  <div class="card border-0">
    <div class="card-heading d-flex justify-content-center align-items-center mt-3" >
      <h1 class="text-success h2">TO-DO</h1>
      <i class="fas fa-check-square"></i>
    </div>
    <div class="card-body">
      <p>"Sir," said Mr. Fogg to the captain, "three passengers have disappeared."</p>

      <p>"Dead?" asked the captain.</p>

      <p>"Dead or prisoners; that is the uncertainty which must be solved.  Do you propose to pursue the Sioux?"</p>

      <p>"That's a serious thing to do, sir," returned the captain.  "These Indians may retreat beyond the Arkansas, and I cannot leave the fort unprotected."</p>

      <p>"The lives of three men are in question, sir," said Phileas Fogg.</p>
    </div>
  </div>
  
</div>
{% endblock content %}
