{% extends 'base.html' %}
{% load static %}

{% block title %} <title>Delete to-do | To-Do App</title> {% endblock title %}


{% block content %}
<div class="container col-lg-8 col-md-8 col-sm-12">
    <div class="card p-3">
        <h2 class="card-title">Are you sure you want to delete <strong class="text-primary">{{ todo_item.title }}</strong>?</h2>
        <form action="" method="POST" class="d-flex w-100 justify-content-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-md btn-success m-3">Delete</button>
            <a href="{% url 'home' %}" class="btn btn-md btn-danger m-3">Cancel</a>
        </form>
    </div>
</div>


{% endblock content %}